@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,900;1,300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #000;
}

.main-container {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.outer-card-container {
  max-width: 20rem;
  height: 30rem;
  width: 100%;
  color: red;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 2px 2px 10px 2px #0003;
  transition: all 0.5s ease-in-out;
}

.outer-card-container:hover,
.outer-card-container:focus-within {
  transform: scale(1.05);
  box-shadow: 2px 2px 15px 3px #0002;
  transition: all 0.5s ease-in-out;
}

.img-container {
  max-width: 100%;
  max-height: 12rem;
  overflow: hidden;
}
.img-container img {
  max-width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.content {
  padding: 1rem;
  height: 100%;
}

.header-text {
  height: 4rem;
  border-bottom: 1px solid #0002;
  font-size: 1.75rem;
  opacity: 0.8;
}

.content-inner {
  padding: 0.5rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  font-size: 1.1rem;
  opacity: 0.6;
}

.content-inner i {
  font-size: 1.5rem;
}

.bottom-contents {
  margin-top: 3rem !important;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.bottom-contents a {
  padding: 0.5rem 1rem;
  border: 1px solid red;
  color: red;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.bottom-contents p {
  color: blue;
  margin: auto 0;
}

.bottom-contents a:hover,
.bottom-contents a:focus {
  transform: scale(1.02);
  transition: all 0.5s ease-in-out;
}
